@import "tailwindcss";
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--off-white);
  color: var(--outer-space);
  font-family: "Lexend", sans-serif;
}

/* Masonry column fix for react-masonry-css */
.masonry-column {
  background-clip: padding-box;
}
.masonry-column > div {
  margin-bottom: 24px; /* matches gap-6 */
}

/* .hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
} */
